@use "../abstrarct/variables" as *;
@use "../utils/breakpoints" as *;

.about {
  padding: 40px 0;

  background-color: white;
  border-top: 4px solid $primary;
  border-bottom: 4px solid $primary;

  min-height: 100vh;
}

.about__container {
  width: $container;
  margin: 0 auto;

  text-align: center;
}

.about__text {
  display: grid;
  gap: 20px;
  line-height: 2rem;

  &--para {
    letter-spacing: 2px;
    margin-bottom: 12px;
  }
}

/*===== 

Tablet

=====*/

@include breakpoint(tablet) {
  .about__container {
    text-align: center;
  }

  .about__text {
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

/*=======

Desktop

=======*/

@include breakpoint(desktop) {
  .about__text {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
  }
}
