.modal-open #about,
.modal-open #projects,
.modal-open #footer,
.modal-open #skills {
  display: none;
}

.modal-open #modal {
  visibility: visible;
  z-index: 2;
}

.modal-open #nava {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}

.modal-open .modal__wrapper {
  box-shadow: 0px 10px 80px 0 grey;
}

.modal-open .modal__content--top,
.modal-open .modal__content--bottom {
  transition: all 1s ease;
  transform: translateX(0);
}

.modal-open #header__content {
  display: none;
}

.modal-open .back-drop__icon {
  animation: unset !important;
}
