@use "../abstrarct/variables" as *;
@use "../utils/breakpoints" as *;

.project__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  transition: all 600ms ease;
  filter: blur(2px) brightness(0.4);
}

.project__img--container {
  position: relative;
  display: grid;

  border: 0.3px solid $secondary;
  border-radius: 5px;

  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.project__img--cover {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  background-color: rgba(0, 0, 0, 55%);
  transition: all 0.5s ease-in-out;
}

.project__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: hsla(0, 0%, 96%, 100%);

  height: 100%;
  width: 100%;
  padding: 0px 12px;
  transition: all 600ms ease;

  &--title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &--tech {
    color: $primary;
    margin: 4px 0;
    font-size: 12px;
  }
}

.project__desc {
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
}

.project__links {
  display: flex;
  justify-content: space-evenly;
  font-size: 24px;
  margin-top: 8px;
}

.project__link {
  color: $secondary;
  transition: all 0.25s ease-in-out;
  cursor: alias;
}

/*=======

Tablet

======*/

@include breakpoint(tablet) {
  .project__img {
    filter: unset;
  }

  .project__img--container {
    box-shadow: rgb(48 46 46 / 58%) 10px 10px 10px 6px;
    overflow: hidden;

    &:hover {
      .project__img--cover {
        opacity: 1;
      }

      .project__img {
        transform: scale(1.3);
        filter: blur(2px);
      }

      .project__text {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .project__img--cover {
    opacity: 0;
  }

  .project__text {
    transform: translateY(100px);
    opacity: 0.3;
  }

  .project__link:hover {
    transform: scale(1.3);
    color: $primary;
  }
}

/*=========

Desktop

========*/

@include breakpoint(desktop) {
  .project__text {
    align-items: unset;
    padding: 20px;
    padding-top: 32px;

    &--title {
      text-align: left;
      font-size: 24px;
    }
  }

  .project__desc {
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
  }

  .project__links {
    justify-content: unset;
    gap: 16px;
  }
}
