@use "../abstrarct/variables" as *;
@use "../utils/breakpoints" as *;

.projects {
  margin: 80px 0;
}

.projects__container {
  width: $container;
  margin: 0 auto;
}

.projects__list {
  display: grid;
  margin-top: 32px;
  gap: 44px;
}

/*========

Tablet

========*/

@include breakpoint(tablet) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/*=========

Desktop

========*/

@include breakpoint(desktop) {
  .projects__list {
    margin: 20px auto;
    gap: 32px;
  }
}
