@use "./variables" as *;
@use "../utils/breakpoints" as *;

@mixin underline {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 1px;
  bottom: 1px;
  background-color: $primary;
  transition: all 0.2s;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.section__title {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 40px;
  letter-spacing: 4px;
  position: relative;
}

.important-text {
  color: $primary;
}

.text-link {
  position: relative;
  color: $secondary;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    color: $primary;
  }

  &::after {
    @include underline;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }
}

.blinker {
  animation: blinker 2s linear infinite;
}

/*==========

Tablet

=========*/

@include breakpoint(tablet) {
  .section__title {
    font-size: 52px;
    margin-bottom: 88px;
  }

  .container {
    width: 90%;
  }
}

/*==========

Desktop

========*/

@include breakpoint(desktop) {
  .container {
    width: 87%;
  }
}
