@use "../abstrarct/variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

small {
  font-size: 8px;
  color: var(--highlightColor);
}
