@use "../abstrarct/variables" as *;

.dark {
  position: relative;
  background-color: #0f0f0f;
  color: rgb(230, 230, 230);

  .about {
    background-color: black;
  }

  .hero__mouse {
    border-color: white;

    &:hover {
      border-color: $primary;
    }

    &--wheel {
      background-color: white;
    }
  }
}

.dark .fill {
  fill: rgb(230, 230, 230);
}
