@use "../../abstrarct/variables" as *;
@use "../../utils/breakpoints" as *;

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > * {
    transition: all 400ms ease;
  }
}

.skill__icon {
  text-align: center;
  font-size: 3rem;
  color: $secondary;
  padding: 4px;
}

.skill__name {
  font-size: 20px;
  color: $secondary;
}

/*========

Tablet  

========*/

@include breakpoint(tablet) {
}
