:root {
  --main-BG: #eaeaea;
  --second-BG: #d4d4d4;
  --thrid-BG:#000000 ;
  --highlightColor: #00e2c7;
  --dimHighlightColor: rgb(0, 137, 112);
  --AltText: #e4e4e4;
  --box-shadow:rgba(9, 21, 37, 0.822);
  --fnt-tech: 'Share Tech Mono', monospace;
  --headerTextShadow: 3px 5px 15px rgb(197, 197, 197);
  --projectTextBG:#000000b4 ;
  --wrapper: 95%;
  --headers: 52px;
  --containerPadding: 5rem 0;
  --navBG: linear-gradient(147deg, rgba(255,255,255,0.7986577181208054) 28%, rgba(20,15,0,0.3803131991051454) 85%)
}

/* Animation Bank */

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes backdrop {
  0% {
    opacity: 0.3;
    transform: rotate(0deg);
  }



  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes shaking {
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  60% {
    transform: rotate(20deg);
  }
  70% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(20deg);
  }
}

@keyframes scroll {
  100%{
    transform: translateY(8px);
  }
}

@keyframes sectTitle {
  0% {
    width: 20%;
    height: 1px;
  }

  30% {
    width: 80%;
    height: 4px;
  }

  50% {
    width: 40%;
    height: 1px;
  }

  60% {
    width: 75%;
  }

  80% {
    width: 20%;
  }

  to {
    height: 4px;
    width: 90%;
  }
}

/* 

        CSS Start

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #000000e1;
  background-color: var(--main-BG);
}

body::-webkit-scrollbar {
  width: 8px;
  border: .01px solid rgba(0, 247, 214, 0.291);
  border-radius: 5px;
  background-color: var(--main-BG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlightColor);
  border-radius: 5px;
}


ul {
  list-style-type: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

small {
  font-size: 8px;
  color: var(--highlightColor);
}

.section__title::after {
  position: absolute;
  content: ' ';
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 0;
  background-color: var(--highlightColor);

  animation: sectTitle 10s infinite ease alternate;
}

.important-text {
  color: var(--highlightColor);
}

.important-text-link {
  position: relative;
  color: var(--highlightColor);
  transition: all .5s;
  cursor: pointer;
}

.important-text-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  right: 1px;
  bottom: 1px;
  background-color: var(--highlightColor);
  transition: all .2s;
}

.important-text-link:hover::after {
  width: 100%;
  left: 0;
}

.important-text-link:hover {
  color: var(--highlightColor);
}

.skills-used {
  color: var(--highlightColor);
}

.blicker {
  animation: blinker 2s linear infinite;
}


/* 

  About (Show More)

*/

.light-bulb--out,
.light-bulb--lit {
  position: absolute;
  top: 50%;
  transform: translate( 4px,-50%);
  transition: all 500ms ease;
}

.light-bulb--lit {
  font-size: 24px;
  transform: rotate(0);
  opacity: 0;
}

.light-bulb--out {
  visibility: visible;
}

.show-more .light-bulb--out {
  transform: rotate(180deg);
  visibility: hidden;
  opacity: 0;
}

.show-more .light-bulb--lit {
  opacity: 1;
  transform: rotate(180deg);
}

.show-more h3 {
  color: var(--highlightColor) !important;
}

.show-more__para {
  letter-spacing: 2px;

  height: 0;
  overflow: hidden;
  transition: height 300ms ;
}

.show-more .show-more__para {
  height: 100%;

  transition: height 1s 300ms;
}

/* 

    MODAL

*/

.modal-open #about,
.modal-open #projects,
.modal-open #footer,
.modal-open #skills {
  display: none;
}

.modal-open #modal {
  visibility: visible !important;
  z-index: 2;
}

.modal-open #nava {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease;
}

.modal-open .modal__wrapper {
  box-shadow: 0px 10px 80px 0 grey;
}

.modal-open .modal__content--top, 
.modal-open .modal__content--bottom {
  transform: translateX(0);
}

.modal-open #header__content {
  display: none;
}

.modal-open .back-drop__icon {
  animation: unset !important;
}


/* 

    Media Queries

*/

/* Tablet */

@media (min-width: 768px) {
  .important-text-link {
    color: var(--dimHighlightColor);
  }
}



  