:root {
  --main-BG: #030020;
  --mainTextColor: #adadade1;
  --highlightColor: #00ffdd;
  --dimHighlightColor: rgba(0, 247, 214, 0.58);
  --BrighterText: #f3f3f3;
  --box-shadow:rgba(9, 21, 37, 0.822);
  --fnt-tech: 'Share Tech Mono', monospace;
  --headerTextShadow: 3px 5px 15px rgb(197, 197, 197);
  --projectTextBG:#082238ce;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-family: 'Raleway', sans-serif;
  color: #adadade1;
  background-color: var(--main-BG);
  background-image: url(/src/topography.svg);
  background-attachment: fixed;
}


ul {
  list-style-type: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.important-text {
  color: var(--highlightColor);
}

.important-text-link {
  position: relative;
  color: var(--dimHighlightColor);
  transition: all .5s;
}

.important-text-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 1px;
  bottom: 1px;
  background-color: var(--highlightColor);
  transition: all .2s;
}

.important-text-link:hover::after {
  width: 100%;
}

.important-text-link:hover {
  color: var(--highlightColor);
}

.skills-used {
  color: var(--highlightColor);
}

/* Header Icons */
.header-icon {
  color: var(--highlightColor);
  padding-right: 10px;
}


.blicker {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes load {
  0% {
    transform: translate(0px, 90px);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


  