:root {
  --main-BG: #f6f6f6;
  --second-BG: #eaeaea;
  --highlightColor: #00fcdf;
  --dimHighlightColor: rgb(0, 193, 187);
  --BrighterText: #f3f3f3;
  --box-shadow:rgba(9, 21, 37, 0.822);
  --fnt-tech: 'Share Tech Mono', monospace;
  --headerTextShadow: 3px 5px 15px rgb(197, 197, 197);
  --projectTextBG:#082238ce;
  --wrapper: 85%;
  --headers: 2.8rem;
  --containerPadding: 8rem 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  margin: 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #000000e1;
  background-color: var(--main-BG);
}

body::-webkit-scrollbar {
  width: 8px;
  border: .01px solid rgba(0, 247, 214, 0.291);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlightColor);
  border-radius: 5px;
}


ul {
  list-style-type: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.important-text {
  color: var(--highlightColor);
}

.important-text-link {
  position: relative;
  color: var(--dimHighlightColor);
  transition: all .5s;
}

.important-text-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 1px;
  bottom: 1px;
  background-color: var(--highlightColor);
  transition: all .2s;
}

.important-text-link:hover::after {
  width: 100%;
}

.important-text-link:hover {
  color: var(--highlightColor);
}

.skills-used {
  color: var(--highlightColor);
}



.blicker {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


  